//reseteo css
@import './base/reset';

//header (all htmls)
@import './headers/headers';

//contenido principal (index.html)
@import './layout/inicio';

//footer (all htmls)
@import './footers/footer';

////////estilos de bootstrap//////////////

$gradient: linear-gradient(90deg, #000000, #303030, #4e4e4e);

$bg-primary: $gradient;

$enable-gradients: true;

@import '../node_modules/bootstrap/scss/bootstrap';

@import "../node_modules/bootstrap/scss/utilities";

////////////////////////////////////////////////// MEDIAS QUERYS ////////////////////////////////////////////////////////////////

//////////// 768px ////////////
@import './medias-querys/media-query-768px';
/////////// 1440px ////////////
@import './medias-querys/media-query-1440px.scss';