   /* ---------------------------------- footer (all html) ----------------------------------------  */

footer {
    ///// color del footer //////
    background:$backgroundGradient;
    padding-bottom: 1rem;

    .menuFooter {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 6rem;
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    ////////////// list del footer //////////////////////////
    li {
        a {
            .social {
                margin: 0px 10px 10px 10px;

                &:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }


    ////////////////// logo del footer //////////////////////

    .footerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    a {
        .logos {
            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }
}